.advantages {
  padding: 31px 30px 29px 30px;

  @media (min-width: $vp-768) {
    width: 768px;
    margin: 0 auto;
    padding: 56px 50px 81px 50px;
  }

  @media (min-width: $vp-1150) {
    width: 700px;
    padding: 68px 0 88px 0;
  }
}

.advantages__title {
  margin-bottom: 30px;

  @media (min-width: $vp-768) {
    margin-bottom: 42px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 39px;
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: 1fr;
  row-gap: 30px;

  @media (min-width: $vp-768) {
    column-gap: 1px;

    grid-template-columns: 1fr 1fr;
    row-gap: 55px;
  }

  @media (min-width: $vp-1150) {
    column-gap: 0;
  }
}

.advantages__item {
  position: relative;

  padding-top: 53px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-black;

  &:before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }

  &--flower {
    &:before {
      top: -2px;
      left: 8px;

      width: 33px;
      height: 38px;

      background-image: url("../img/svg/flower.svg");

      @media (min-width: $vp-768) {
        top: -1px;
      }
    }
  }

  &--money {
    &:before {
      top: -1px;
      left: 0;

      width: 47px;
      height: 27px;

      background-image: url("../img/svg/money.svg");

      @media (min-width: $vp-768) {
        top: 1px;
        left: 1px;
      }
    }
  }

  &--heart {
    &:before {
      top: 4px;
      left: 7px;

      width: 34px;
      height: 27px;

      background-image: url("../img/svg/heart.svg");

      @media (min-width: $vp-768) {
        top: 6px;
        left: 8px;
      }
    }
  }

  &--skein {
    &:before {
      top: 1px;
      left: 3px;

      width: 35px;
      height: 34px;

      background-image: url("../img/svg/skein.svg");

      @media (min-width: $vp-768) {
        top: 3px;
        left: 2px;
      }
    }
  }

  &--rocket {
    &:before {
      top: 2px;
      left: -6px;

      width: 55px;
      height: 23px;

      background-image: url("../img/svg/rocket.svg");

      @media (min-width: $vp-768) {
        top: 4px;
        left: -7px;
      }
    }
  }

  &--gift {
    &:before {
      top: 0;
      left: 3px;

      width: 33px;
      height: 32px;

      background-image: url("../img/svg/gift.svg");

      @media (min-width: $vp-768) {
        top: 2px;
        left: 2px;
      }
    }
  }

  @media (min-width: $vp-768) {
    padding-top: 56px;
    padding-right: 30px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $vp-768) {
    &--flower {
      order: 1;
    }
  }

  @media (min-width: $vp-768) {
    &--money {
      order: 3;
    }
  }

  @media (min-width: $vp-768) {
    &--heart {
      order: 5;
    }
  }

  @media (min-width: $vp-768) {
    &--skein {
      order: 2;
    }
  }

  @media (min-width: $vp-768) {
    &--rocket {
      order: 4;
    }
  }

  @media (min-width: $vp-768) {
    &--gift {
      order: 6;
    }
  }
}
