.advantages {
  padding: 31px $indent-edge 29px $indent-edge;
}

.advantages__title {
  margin-bottom: 28px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin-bottom: 30px;
  padding-top: 51px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-black;
}
