.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: inherit;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }

  &--primary {
    color: $color-charcoal;

    background-color: $color-white;
    border: 2px solid $color-charcoal;

    &:focus {
      outline: none;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      border: 2px solid $color-downy-2;
      outline: none;
    }

    &:hover {
      color: $color-white;

      background-color: $color-charcoal;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }

  &--secondary {
    color: $color-white;

    background-color: $color-downy-1;

    &:hover {
      background-color: $color-puerto-rico-1;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}
