.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  &--primary {
    color: $color-charcoal;
    border: 2px solid $color-charcoal;
    background-color: $color-white;

    &:hover {
      background-color: $color-charcoal;
      color: $color-white;
    }

    &:active {
      color: rgba($color: $color-white, $alpha: 0.3);
    }
  }

  &--secondary {
    background-color: $color-downy-1;
    color: $color-white;

    &:hover {
      background-color: $color-puerto-rico-1;
    }

    &:active {
      color: rgba($color: $color-white, $alpha: 0.3);
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
