.catalog {
  max-width: 460px;
  margin: 0 auto;
  padding: 30px 30px 15px 30px;

  @media (min-width: $vp-768) {
    max-width: 100%;
    padding: 76px 50px 53px 50px;
  }

  @media (min-width: $vp-1150) {
    width: 1150px;
    padding-top: 129px;
    padding-bottom: 57px;
  }
}

.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: 1fr;
  row-gap: 30px;

  @media (min-width: $vp-768) {
    row-gap: 52px;
  }

  @media (min-width: $vp-1150) {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}

.catalog__item {
  display: grid;
  padding-bottom: 26px;

  border: 1px solid $color-whisper-1;

  transition: box-shadow 0.2s ease-out;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $vp-768) {
    padding: 0;
    padding-right: 33px;

    column-gap: 32px;

    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: auto 1fr;
  }

  @media (min-width: $vp-1150) {
    padding-right: 0;

    grid-template-columns: 1fr;
    grid-template-rows: 459px min-content 1fr min-content;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba($color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($color-black, 0.1);
  }
}

.catalog__link-image,
.catalog__link-title,
.catalog__description {
  grid-column: 1 / -1;
}

.catalog__image {
  width: 100%;

  vertical-align: middle;

  @media (min-width: $vp-768) {
    width: 334px;
    height: 100%;

    object-fit: cover;
  }

  @media (min-width: $vp-1150) {
    width: 316px;
  }
}

.catalog__link-image {
  margin-bottom: 28px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;

    grid-column: 1;
    grid-row: 1 / 4;
  }

  @media (min-width: $vp-1150) {
    grid-row: 1;
  }
}

.catalog__link-title {
  margin-bottom: 8px;
  padding: 0 27px;

  @media (min-width: $vp-768) {
    padding: 0;
    padding-top: 27px;
    padding-right: 25px;

    grid-column: auto / -1;
  }

  @media (min-width: $vp-1150) {
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 27px;

    grid-row: 2;
    grid-column: 1;
  }

  &:hover {
    .title {
      color: rgba($color-black, 0.6);
    }
  }

  &:active {
    .title {
      color: rgba($color-black, 0.3);
    }
  }
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $vp-768) {
    font-size: 20px;
  }
}

.catalog__description {
  position: relative;

  margin: 0 27px 17px 27px;
  padding-bottom: 21px;

  font-size: 13px;

  border-bottom: 1px solid $color-whisper-1;

  @media (min-width: $vp-768) {
    margin: 0 0 23px 0;
    padding: 0;

    font-size: 15px;

    grid-column: auto / -1;
  }

  @media (min-width: $vp-1150) {
    margin-right: 34px;
    margin-left: 27px;
    padding-bottom: 16px;

    grid-row: 3;
    grid-column: 1;
  }
}

.catalog__price {
  margin-top: 5px;
  padding-left: 26px;

  color: $color-black;

  grid-column: 1;

  @media (min-width: $vp-768) {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-right: 50px;

    font-size: 17px;

    grid-row: 3;
    grid-column: auto / -1;
  }

  @media (min-width: $vp-1150) {
    padding-left: 26px;

    grid-row: 4;
    grid-column: 1;
  }
}

.catalog__link-basket {
  position: relative;

  margin-top: 5px;
  margin-right: 26px;

  grid-column-end: -1;
  justify-self: end;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 40px;
    height: 40px;

    transform: translate(-50%, -50%);
  }

  @media (min-width: $vp-768) {
    align-self: start;
    margin: 0;
    margin-top: -2px;
    padding: 0;

    grid-column: 2;
    grid-row: 3;
  }

  @media (min-width: $vp-1150) {
    margin-top: 0;
    margin-right: 32px;

    grid-row: 4;
    grid-column: 1;
  }

  &:hover {
    .catalog__svg {
      fill: $color-downy-1;
    }
  }

  &:active {
    .catalog__svg {
      fill: rgba($color-downy-1, 0.3);
    }
  }
}

.catalog__svg {
  display: block;

  fill: rgba($color-black, 0.2);
}
