.catalog {
  padding: 30px $indent-edge 15px $indent-edge;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 15px;
  border: 1px solid $color-whisper-1;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__link-image,
.catalog__link-title,
.catalog__description {
  grid-column: 1 / -1;
}

.catalog__image {
  vertical-align: middle;
}

.catalog__link-image {
  margin-bottom: 27.5px;
}

.catalog__link-title {
  padding: 0 $indent-edge;
  margin-bottom: 6px;

  &:hover {
    .title {
      color: rgba($color: $color-black, $alpha: 0.6);
    }
  }

  &:active {
    .title {
      color: rgba($color: $color-black, $alpha: 0.3);
    }
  }
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
}

.catalog__description {
  position: relative;
  margin: 0;
  padding: 0 $indent-edge 17.5px $indent-edge;
  margin-bottom: 20px;
  font-size: 13px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - $indent-edge * 2);
    height: 1px;
    margin: 0 auto;
    background-color: $color-whisper-1;
  }
}

.catalog__price {
  padding-left: $indent-edge;
  grid-column: 1;
}

.catalog__link-basket {
  margin-right: $indent-edge - 5;
  padding: 5px;
  grid-column-end: -1;
  justify-self: end;

  &:hover {
    .catalog__svg {
      fill: $color-downy-1;
    }
  }

  &:active {
    .catalog__svg {
      fill: rgba($color: $color-downy-1, $alpha: 0.3);
    }
  }
}

.catalog__svg {
  display: block;
  fill: rgba($color: $color-black, $alpha: 0.2);
}
