.contacts {
  padding: 38px 0 39px 0;

  @media (min-width: $vp-768) {
    position: relative;

    padding: 69px 0 57px 0;
  }

  @media (min-width: $vp-1150) {
    display: grid;
    width: 1050px;
    margin: 0 auto;
    padding: 71px 0 105px 0;

    grid-template-rows: 1fr auto;
    grid-template-columns: 174px auto 1fr;
  }
}

.contacts__content {
  display: grid;
  margin-bottom: 62px;
  padding: 0 30px;

  font-size: 14px;
  line-height: 30px;
  column-gap: 20px;

  grid-template-columns: 57px 1fr;
  row-gap: 29px;

  @media (min-width: $vp-768) {
    margin-bottom: 49px;
    padding: 0 50px;

    font-size: 17px;

    row-gap: 0;
    grid-template-columns: auto 0.9fr auto 1fr;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 84px;
    padding: 0;

    column-gap: 0;

    grid-column: 2;
    grid-template-columns: 78px 242px;
  }
}

.contacts__title {
  grid-column: 1 / -1;

  @media (min-width: $vp-768) {
    margin-bottom: 49px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 35px;
    padding-top: 79px;

    grid-column: 1 / 3;
  }
}

.contacts__flag {
  display: none;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 46px;
    right: 53px;

    display: block;
    width: 47px;
    height: 81px;

    background-image: url("../img/svg/flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $vp-1150) {
    position: static;

    margin-top: 62px;

    grid-column: 1;
    justify-self: center;
  }
}

.contacts__email-text,
.contacts__address-text {
  grid-column: 1;
}

.contacts__email-text {
  word-break: break-all;

  @media (min-width: $vp-768) {
    grid-column: 1;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 29px;
    padding-right: 10px;
  }
}

.contacts__address-text {
  word-break: break-all;

  @media (min-width: $vp-768) {
    grid-column: 3;
  }

  @media (min-width: $vp-1150) {
    padding-right: 10px;

    grid-column: 1;
  }
}

.contacts__link-mailto,
.contacts__address {
  grid-column-end: -1;
}

.contacts__link-mailto {
  position: relative;

  align-self: start;

  color: $color-charcoal;

  justify-self: start;

  @media (min-width: $vp-768) {
    align-self: start;
    padding-left: 4px;

    grid-column: 2;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 29px;
    padding-left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-downy-2;

    @media (min-width: $vp-768) {
      bottom: 0;
    }

    @media (min-width: $vp-1150) {
      bottom: -4px;
    }
  }

  &:hover {
    color: $color-downy-2;
  }

  &:active {
    &::after {
      background-color: rgba($color-downy-2, 0.1);
    }
  }
}

.contacts__address {
  font-style: normal;

  @media (min-width: $vp-768) {
    padding-left: 7px;

    grid-column: 4;
  }

  @media (min-width: $vp-1150) {
    padding-left: 0;

    grid-column: 2;
  }
}

.contacts__map {
  height: 457px;
  margin-bottom: 39px;

  .no-js & {
    height: auto;
  }

  @media (min-width: $vp-768) {
    margin-bottom: 54px;
  }

  @media (min-width: $vp-1150) {
    height: 100%;
    margin-bottom: 0;
    margin-left: 29px;

    grid-column: 3;
    grid-row: 1 / 3;
  }
}

.contacts__features {
  display: none;

  .no-js & {
    display: block;
  }
}

.contacts__image {
  display: block;
  width: 100%;
}

.contacts__iframe {
  width: 100%;

  border: 0;

  .no-js & {
    display: none;
  }

  @media (min-width: $vp-1150) {
    height: 100%;
  }
}

.contacts__link {
  margin: 0 30px;

  @media (min-width: $vp-768) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: $vp-1150) {
    margin: 0;

    grid-column: 2;
  }
}
