.hero {
  background-color: $color-snow;
}

.hero__wrapper {
  background-image: url("../img/hero-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: top -17px center;
  background-size: 320px auto;

  @media (min-width: $vp-768) {
    padding: 100px 50px 0 50px;

    background-image: url("../img/hero-desktop.jpg");
    background-position: top -55px center;
    background-size: 768px auto;
  }
}

.hero__title {
  padding: 73px 30px 120px 30px;

  font-size: 27px;
  text-align: center;

  @media (min-width: $vp-768) {
    padding: 0;
    padding-bottom: 372px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 355px;

    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.hero__item {
  flex-grow: 1;

  &:nth-child(even) {
    .hero__text {
      background-color: $color-puerto-rico-1;
    }
  }

  &:hover:nth-child(even) {
    .hero__text {
      background-color: $color-puerto-rico-2;
    }
  }

  @media (min-width: $vp-768) {
    width: 50%;

    &:nth-child(even) {
      .hero__text {
        background-color: $color-downy-1;
      }
    }

    &:hover:nth-child(even) {
      .hero__text {
        background-color: $color-downy-3;
      }
    }

    &:nth-child(4n + 2),
    &:nth-child(4n - 1) {
      .hero__text {
        background-color: $color-puerto-rico-1;
      }
    }

    &:hover:nth-child(4n + 2),
    &:hover:nth-child(4n - 1) {
      .hero__text {
        background-color: $color-puerto-rico-2;
      }
    }
  }
}

.hero__link {
  position: relative;

  display: block;
  width: 100%;
  min-height: 103px;

  font-weight: 700;
  font-size: 19px;
  color: $color-white;

  transition: 0.2s;

  @media (min-width: $vp-768) {
    min-height: 119px;
  }

  &:focus {
    z-index: 1;
  }
}

.hero__text {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 24px 100px 31px 30px;

  background-color: $color-downy-1;

  @media (min-width: $vp-768) {
    padding: 25px 120px 34px 36px;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    padding-bottom: 39px;

    background-color: $color-downy-3;
  }
}
