.hero {
  background-color: $color-white-smoke;
  background-image: url("../../img/hero-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  padding: 73px $indent-edge 120px $indent-edge;
  font-size: 27px;
  text-align: center;
}

.hero__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  flex-grow: 1;

  &:nth-child(even) {
    .hero__text {
      background-color: $color-puerto-rico-1;
    }
  }

  &:hover {
    &:nth-child(even) {
      .hero__text {
        background-color: $color-puerto-rico-2;
      }
    }
  }
}

.hero__link {
  display: block;
  position: relative;
  width: 100%;
  font-size: 19px;
  font-weight: 700;
  color: $color-white;
  transition: 0.2s;
  min-height: 103px;
}

.hero__text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px 100px 31px $indent-edge;
  background-color: $color-downy-1;

  &:hover {
    padding-bottom: 36px;
    background-color: $color-downy-3;
  }
}
