.inner-hero {
  padding: 0 30px;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    padding: 0 50px;
  }
}

.inner-hero__title {
  padding: 74px 0;

  font-size: 27px;
  text-align: center;

  @media (min-width: $vp-768) {
    padding: 54px 0 86px 0;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 113px;
  }
}
