.main-header__button {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: height 0.2s;
}

.main-header__button-line {
  position: absolute;
  left: 0;
  right: 0;
  width: 20px;
  height: 2px;
  margin: auto;
  background-color: $color-aubergine;
  transition: 0.2s;

  &:not(:first-child):not(:last-child) {
    top: 0;
    bottom: 0;

    .is-open & {
      width: 0;
      opacity: 0;
    }
  }

  &:first-child {
    top: 13px;

    .is-open & {
      top: 19px;
      transform: rotate(45deg) scaleX(1.3);
    }
  }

  &:last-child {
    bottom: 13px;

    .is-open & {
      bottom: 19px;
      transform: rotate(-45deg) scaleX(1.3);
    }
  }
}
