.popular {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 0 auto;
  padding: 31px 30px 36px 30px;

  @media (min-width: $vp-768) {
    display: grid;
    max-width: 100%;
    margin: 0;
    padding: 47px 50px 52px 50px;

    column-gap: 42px;

    grid-template-columns: 1fr auto;
  }

  @media (min-width: $vp-1150) {
    width: 1050px;
    margin: 0 auto;
    padding: 71px 0 73px 0;

    gap: 0;
    grid-template-columns: 175px 292px 1fr 525px;
  }
}

.popular__title {
  margin-bottom: 4px;

  @media (min-width: $vp-768) {
    margin: 0;
    padding-top: 2px;
    padding-right: 160px;

    grid-column: 1 / -1;
    grid-row: 1;
  }

  @media (min-width: $vp-1150) {
    z-index: 1;

    padding-top: 61px;

    grid-column: 2 / -1;
  }
}

.popular__benefit {
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-downy-1;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    align-self: center;
    width: min-content;
    margin: 0;
    margin-right: 27px;

    line-height: 17px;
    text-align: center;

    grid-column-end: -1;
    grid-row: 1;
    justify-self: end;
  }

  @media (min-width: $vp-1150) {
    align-self: start;
    margin-right: 0;
    padding-top: 69px;
    padding-right: 11px;

    grid-column: 1;
    grid-row: 1 / 6;
    justify-self: center;
  }
}

.popular__description {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $vp-768) {
    margin-top: 38px;
    margin-bottom: 40px;

    font-size: 17px;
    line-height: 30px;

    grid-column: 1;
    grid-row: 2;
  }

  @media (min-width: $vp-1150) {
    margin-top: 35px;
    margin-bottom: 55px;

    grid-column: 2;
  }
}

.popular__parameters {
  margin: 0;
  margin-bottom: 30px;

  line-height: 20px;

  @media (min-width: $vp-768) {
    margin-bottom: 57px;

    grid-column: 1;
    grid-row: 3;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 109px;

    grid-column: 2;
  }
}

.popular__parameters-wrapper {
  display: flex;
  padding: 10px 0 9px 0;

  border-bottom: 1px solid $color-whisper-1;

  @media (min-width: $vp-768) {
    padding: 8px 0 11px 0;
  }

  @media (min-width: $vp-1150) {
    padding: 4px 0 15px 0;
  }
}

.popular__title-item {
  flex-basis: 97px;
}

.popular__description-item {
  flex-basis: 162px;
  margin: 0;
}

.popular__images {
  @media (min-width: $vp-768) {
    align-self: end;

    grid-column: 2;
    grid-row: 2 / 6;
  }

  @media (min-width: $vp-1150) {
    align-self: stretch;

    grid-column: auto/-1;
    grid-row: 1/6;
  }
}

.popular__image {
  display: block;
  width: 100%;
  margin: 0 auto 26px;

  @media (min-width: $vp-768) {
    align-self: end;
    width: 334px;
    margin: 0;
  }

  @media (min-width: $vp-1150) {
    width: 525px;
  }
}

.popular__price {
  margin-bottom: 24px;

  font-size: 17px;
  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 33px;

    font-size: 20px;

    grid-column: 1;
    grid-row: 4;
  }

  @media (min-width: $vp-1150) {
    grid-column: 2;
  }
}

.popular__link {
  @media (min-width: $vp-768) {
    align-self: end;

    grid-column: 1;
    grid-row: 5;
  }

  @media (min-width: $vp-1150) {
    grid-column: 2;
  }
}
