.popular {
  display: flex;
  flex-direction: column;
  padding: 31px 30px 36px 30px;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 40px 50px 52px 50px;

    column-gap: 42px;

    grid-template-columns: 1fr auto;
  }
}

.popular__title {
  margin-bottom: 3px;

  @media (min-width: $vp-768) {
    margin: 0;
    padding-right: 120px;

    grid-column: 1 / -1;
    grid-row: 1;
  }
}

.popular__benefit {
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-downy-1;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    align-self: center;
    width: min-content;
    margin: 0;
    margin-right: 20px;

    line-height: 17px;
    text-align: center;

    grid-column-end: -1;
    grid-row: 1;
    justify-self: end;
  }
}

.popular__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    margin-top: 38px;
    margin-bottom: 48px;

    font-size: 17px;
    line-height: 30px;

    grid-column: 1;
    grid-row: 2;
  }
}

.popular__parameters {
  margin: 0;
  margin-bottom: 20px;

  line-height: 20px;

  @media (min-width: $vp-768) {
    margin-bottom: 57px;

    grid-column: 1;
    grid-row: 3;
  }
}

.popular__parameters-wrapper {
  display: flex;
  padding: 8px 0;

  border-bottom: 1px solid $color-whisper-1;
}

.popular__title-item {
  flex-basis: 97px;
}

.popular__description-item {
  flex-basis: 162px;
  margin: 0;
}

.popular__image {
  width: 100%;
  margin-bottom: 25px;

  vertical-align: middle;

  @media (min-width: $vp-768) {
    align-self: end;
    margin: 0;

    grid-column: 2;
    grid-row: 2 / 6;
  }
}

.popular__price {
  margin-bottom: 24px;

  font-size: 17px;
  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 33px;

    font-size: 20px;

    grid-column: 1;
    grid-row: 4;
  }
}

.popular__link {
  @media (min-width: $vp-768) {
    align-self: end;

    grid-column: 1;
    grid-row: 5;
  }
}
