.process {
  max-width: 460px;
  margin: 0 auto;
  padding: 15px 30px 58px 30px;

  @media (min-width: $vp-768) {
    max-width: 100%;
    padding: 0 50px 64px 50px;
  }

  @media (min-width: $vp-1150) {
    width: 1150px;
    padding-bottom: 105px;
  }
}

.process__content {
  display: grid;
  padding-top: 23px;
  padding-bottom: 32px;

  border: 1px solid $color-whisper-1;

  transition: box-shadow 0.2s ease-out;

  grid-template-columns: 1fr;

  @media (min-width: $vp-768) {
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media (min-width: $vp-1150) {
    padding-bottom: 0;

    grid-template-columns: 1.85fr 1fr;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.process__title {
  position: relative;

  margin-bottom: 26px;
  margin-left: 34px;
  padding-right: 34px;
  padding-left: 56px;

  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 32px;
    height: 22px;

    background-image: url("../img/svg/camera.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);

    @media (min-width: $vp-768) {
      top: 36%;
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 24px;
    margin-left: 40px;
    padding-right: 40px;
    padding-left: 66px;

    font-size: 20px;

    grid-row: 2;
  }

  @media (min-width: $vp-1150) {
    margin-top: 47px;
    margin-bottom: 20px;
    margin-left: 80px;
    padding-top: 48px;
    padding-right: 50px;
    padding-left: 0;

    grid-column: 2;
    grid-row: 1;

    &::before {
      top: -2px;

      transform: translateY(0);
    }
  }
}

.process__wrapper {
  position: relative;

  width: 100%;
  margin-bottom: 36px;

  @media (min-width: $vp-768) {
    margin-bottom: 40px;

    grid-row: 1;
  }

  @media (min-width: $vp-1150) {
    margin: 0;

    grid-row: 1 / 4;
    grid-column: 1;
  }
}

.process__features {
  @media (min-width: $vp-1150) {
    height: 100%;
  }
}

.process__image {
  width: 100%;

  vertical-align: middle;

  @media (min-width: $vp-1150) {
    height: 100%;

    object-fit: cover;
  }
}

.process__play-button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;
  padding: 0;

  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);

  transition: transform 0.2s, opacity 0.2s;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.process__description {
  margin: 0;
  margin-bottom: 41px;
  padding: 0 32px;

  font-size: 13px;

  @media (min-width: $vp-768) {
    margin-bottom: 40px;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 43px;
    padding-left: 80px;

    grid-column: 2;
    grid-row: 2;
  }
}

.process__button {
  margin: 0 33px;
  padding: 16px 20px;

  line-height: 16px;

  @media (min-width: $vp-768) {
    width: calc(100% - 82px);
    max-width: 100%;
    margin: 0 41px;
  }

  @media (min-width: $vp-1150) {
    align-self: start;
    width: auto;
    margin: 0 56px 53px 82px;

    grid-column: 2;
    grid-row: 3;
  }
}
