.process {
  padding: 15px 30px 58px 30px;

  @media (min-width: $vp-768) {
    padding: 0 50px 64px 50px;
  }
}

.process__content {
  display: grid;
  padding-top: 21px;
  padding-bottom: 33px;

  border: 1px solid $color-whisper-1;

  grid-template-columns: 1fr;

  @media (min-width: $vp-768) {
    padding-top: 0;
    padding-bottom: 46px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.process__title {
  padding: 0 34px 26px 34px;

  font-size: 17px;
  line-height: 24px;

  @media (min-width: $vp-768) {
    margin-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;

    font-size: 20px;

    grid-row: 2;
  }
}

.process__wrapper {
  position: relative;

  width: 100%;
  margin-bottom: 35px;

  @media (min-width: $vp-768) {
    grid-row: 1;
  }
}

.process__image {
  width: 100%;

  vertical-align: middle;
}

.process__play-button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;
  padding: 0;

  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.process__description {
  margin: 0;
  margin-bottom: 41px;
  padding: 0 34px;

  font-size: 13px;

  @media (min-width: $vp-768) {
    margin-bottom: 40px;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }
}

.process__button {
  margin: 0 34px;

  @media (min-width: $vp-768) {
    margin: 0 42px;
  }
}
