.reviews {
  padding-bottom: 45px;

  @media (min-width: $vp-768) {
    padding-bottom: 68px;
  }
}

.reviews__wrapper {
  padding: 29px 30px 0 30px;
  @media (min-width: $vp-768) {
    display: grid;
    padding: 73px 50px 47px 50px;

    background-image: url("../../img/review-table.jpg");
    background-repeat: no-repeat;
    background-position: left center;

    grid-template-columns: auto 1fr auto;
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: $vp-768) {
    align-self: end;
    margin-bottom: 0;

    grid-column: 1;
    grid-row: 1;
  }
}

.reviews__description {
  margin: 0;
  margin-bottom: 33px;

  line-height: 30px;

  @media (min-width: $vp-768) {
    margin-top: 38px;
    margin-bottom: 61px;

    font-size: 17px;
    line-height: 30px;

    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.reviews__author {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  font-size: 17px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;

    font-size: 18px;

    grid-column: 1;
    grid-row: 3;
  }
}

.reviews__name {
  margin-bottom: 5px;

  font-weight: 700;
  color: $color-black;
}

.reviews__controls {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;

    justify-self: end;
    grid-column-end: -1;
    grid-row: 3;
  }
}

.reviews__control {
  width: 50%;
  height: 52px;
  padding: 0;

  border: 1px solid $color-whisper-1;

  @media (min-width: $vp-768) {
    width: 75px;

    border: none;
  }

  &--right {
    border-left: none;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}

.reviews__link {
  @media (min-width: $vp-768) {
    align-self: end;
    width: 187px;
    margin-bottom: 10px;

    grid-column-end: -1;
    grid-row: 1;
  }
}
