.reviews {
  padding: 29px $indent-edge 45px $indent-edge;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__description {
  margin: 0;
  margin-bottom: 33px;
  line-height: 30px;
}

.reviews__author {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 17px;
}

.reviews__name {
  margin-bottom: 5px;
  font-weight: 700;
  color: $color-black;
}

.reviews__controls {
  display: flex;
  margin-bottom: 38px;
}

.reviews__control {
  width: 130px;
  height: 52px;
  padding: 0;
  border: 1px solid $color-whisper-1;

  &--right {
    border-left: none;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
