.social {
  display: flex;
  flex-wrap: wrap;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px 7px;
  text-align: center;

  &:hover {
    & .social__svg {
      fill: $color-puerto-rico-2;
    }
  }

  &:active {
    & .social__svg {
      fill: rgba($color: $color-puerto-rico-2, $alpha: 0.3);
    }
  }
}

.social__svg {
  fill: $color-aubergine;
}
