$fz-default: 15px;
$lh-default: 24px;
$ff-open-sans: "Open Sans", sans-serif;

$color-black: #000000;
$color-aubergine: #231f20;
$color-charcoal: #444444;
$color-silver: #c6c6c6;
$color-whisper-1: #ececec;
$color-whisper-2: #e5e5e5;
$color-white-smoke: #f1f1f1;
$color-white: #ffffff;
$color-downy-1: #63d1bb;
$color-downy-2: #62d1ba;
$color-downy-3: #59d5bc;
$color-puerto-rico-1: #56c3b2;
$color-puerto-rico-2: #46c1ae;

$indent-edge: 30px;
